div#nav.lf
    div.user
        p.title 用户中心
        p.son
            a(href='/user/list') 用户列表
        p.son
            a(href='/user/add') 添加用户
        p.son
            a 用户图表
    div.equipment
        p.title 设备管理
        p.son
            a(href='/device/install') 批量安装
        p.son
            a(href='/device/list') 设备列表
        p.son
            a(href='/device/roomlist') 房间列表
    div.version
        p.title 版本管理
        p.son
            a 小乔家用机器人
        p.son
            a(href='/version/erdai') 小乔管家
    div.others
        p.title 其他
        p.son
            a(href='/others/apply') 申请列表
        p.son
            a(href='/others/buy') 购买列表
    div.problem
        p.title 问题工单
        p.son
            a(href='/problem/send') 问题提交
        p.son
            a(href='/problem/list') 问题列表
