<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8">
    <meta name="renderer" content="webkit|ie-comp|ie-stand">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport"
          content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no"/>
    <meta http-equiv="Cache-Control" content="no-siteapp"/>
    <!--[if lt IE 9]>
    <script type="text/javascript" src="../lib/html5shiv.js"></script>
    <script type="text/javascript" src="../lib/respond.min.js"></script>
    <![endif]-->
    <link rel="stylesheet" type="text/css" href="../static/h-ui/css/H-ui.min.css"/>
    <link rel="stylesheet" type="text/css" href="../static/h-ui.admin/css/H-ui.admin.css"/>
    <link rel="stylesheet" type="text/css" href="../lib/Hui-iconfont/1.0.8/iconfont.css"/>
    <link rel="stylesheet" type="text/css" href="../static/h-ui.admin/skin/default/skin.css" id="skin"/>
    <link rel="stylesheet" type="text/css" href="../static/h-ui.admin/css/style.css"/>
    <!--[if IE 6]>
    <script type="text/javascript" src="../lib/DD_belatedPNG_0.0.8a-min.js"></script>
    <script>DD_belatedPNG.fix('*');</script>
    <![endif]-->
    <title>设备管理</title>
</head>
<body>
<nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 首页 <span class="c-gray en">&gt;</span> 批量安装 <span
        class="c-gray en">&gt;</span> 批量添加
</nav>
<div class="page-container">
    <form class="form form-horizontal" id="form-article-add">
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2">设备号：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <textarea value="" class="textarea"></textarea>

            </div>
        </div>
        <div class="row cl">
            <!--<label class="form-label col-xs-4 col-sm-2">每个设备号用,隔开</label>-->
        </div>
        <div class="row cl">
            <div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-2">
                <span onClick="save();" class="btn btn-primary radius"><i class="Hui-iconfont">&#xe632;</i> 保存</span>
                <button onClick="layer_close();" class="btn btn-default radius" type="button">
                    &nbsp;&nbsp;取消&nbsp;&nbsp;
                </button>
            </div>
        </div>
    </form>
</div>
</div>
<!--_footer 作为公共模版分离出去-->
<script type="text/javascript" src="../lib/jquery/1.9.1/jquery.min.js"></script>
<script type="text/javascript" src="../lib/layer/2.4/layer.js"></script>
<script type="text/javascript" src="../static/h-ui/js/H-ui.min.js"></script>
<script type="text/javascript" src="../static/h-ui.admin/js/H-ui.admin.js"></script> <!--/_footer 作为公共模版分离出去-->

<!--请在下方写此页面业务相关的脚本-->
<script type="text/javascript" src="../lib/My97DatePicker/4.8/WdatePicker.js"></script>
<script type="text/javascript" src="../lib/datatables/1.10.0/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="../lib/laypage/1.2/laypage.js"></script>
<script type="text/javascript" src="../javascript/common/mutual.js"></script>
<script type="text/javascript">
    let uid = window.location.search.split('=')[1]
    console.log(uid)
    $(function () {
//        $('.table-sort').dataTable({
//            "aaSorting": [[1, "desc"]],//默认第几个排序
//            "bStateSave": true,//状态保存
//            "aoColumnDefs": [
//                //{"bVisible": false, "aTargets": [ 3 ]} //控制列的隐藏显示
//                {"orderable": false, "aTargets": [0, 8, 9]}// 制定列不参与排序
//            ]
//        });

    });

    function save() {
        let str = $('textarea').val().toString();
        console.log(str.split(','))
        str = str.replace(/\r\n/g, ",")
        str = str.replace(/\n/g, ",");
        str = str.replace(/\s/g, ",");
        let data = {
            arr: str.split(','),
            uid:uid,
            token: sessionStorage.getItem('token'),
        };
        for(let i=0;i<data.arr.length;i++){
            if(data.arr[i]=='' ||data.arr[i]==' '){
                data.arr.splice(i,1)
            }
        }
        if(data.arr[0]==''){
            data.arr.splice(0,1)
        }
        if(data.arr.length==0){
            layer.msg('最少添加一个sn', {icon: 1, time: 3000});
        }else{
            mutual('/Manage/device/addsys', data, function (res) {
                console.log(res)
                layer_close()
            }, function (error) {
                console.log(error)
            })
        }


    }

</script>
</body>
</html>