html
    head
        meta(charset='utf-8')
        title
        link(rel='stylesheet',href='/css/common.css')
        script(src='https://cdn.bootcss.com/vue/2.6.0/vue.js')
        script(src='https://cdn.bootcss.com/jquery/2.0.1/jquery.min.js')
        script(src='../JavaScript/common/swal.js')
        script(src='../JavaScript/common/mutual.js')
    body
        div#VueBox
            include ../common/top
            include ../common/nav
            div.top
                select
                    option 小程序
                    option 语音主机
                    option 语义
                select
                    option 严重
                    option 一般
                    option 轻度
                
