<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8">
    <meta name="renderer" content="webkit|ie-comp|ie-stand">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport"
          content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no"/>
    <meta http-equiv="Cache-Control" content="no-siteapp"/>
    <!--[if lt IE 9]>
    <script type="text/javascript" src="../lib/html5shiv.js"></script>
    <script type="text/javascript" src="../lib/respond.min.js"></script>
    <![endif]-->
    <link rel="stylesheet" type="text/css" href="../static/h-ui/css/H-ui.min.css"/>
    <link rel="stylesheet" type="text/css" href="../static/h-ui.admin/css/H-ui.admin.css"/>
    <link rel="stylesheet" type="text/css" href="../lib/Hui-iconfont/1.0.8/iconfont.css"/>
    <link rel="stylesheet" type="text/css" href="../static/h-ui.admin/skin/default/skin.css" id="skin"/>
    <link rel="stylesheet" type="text/css" href="../static/h-ui.admin/css/style.css"/>
    <!--[if IE 6]>
    <script type="text/javascript" src="../lib/DD_belatedPNG_0.0.8a-min.js"></script>
    <script>DD_belatedPNG.fix('*');</script>
    <![endif]-->
    <title>设备管理</title>
</head>
<body>
<nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 首页 <span class="c-gray en">&gt;</span> 版本管理 <span
        class="c-gray en">&gt;</span> 添加版本
</nav>
<div class="page-container" id="content">
    <form class="form form-horizontal" id="form-article-add">
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2">渠道：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <input value="" class="input-text channel" >
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2">apk名称：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <input value="" class="input-text apkName">
            </div>
        </div>

        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2">下载地址：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <input value="" class="input-text apkUrl">
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2">md5：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <input value="" class="input-text apkMd5">
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2">版本号：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <input value="" class="input-text version">
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2">版本code：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <input value="" class="input-text versionCode">
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2">mcu下载地址：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <input value="" class="input-text mcuUrl">
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2">mcu md5：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <input value="" class="input-text mcuMd5">
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2">muc code：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <input value="" class="input-text mcuCode">
            </div>
        </div>
        <div class="row cl">
            <div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-2">
                <span @click="save();" class="btn btn-primary radius" >
                    <i class="Hui-iconfont">&#xe632;</i> 保存
                </span>
                <button onClick="layer_close();" class="btn btn-default radius" type="button">
                    &nbsp;&nbsp;取消&nbsp;&nbsp;
                </button>
            </div>
        </div>
    </form>
</div>
</div>
<!--_footer 作为公共模版分离出去-->
<script type="text/javascript" src="../lib/jquery/1.9.1/jquery.min.js"></script>
<script type="text/javascript" src="../lib/layer/2.4/layer.js"></script>
<script type="text/javascript" src="../static/h-ui/js/H-ui.min.js"></script>
<script type="text/javascript" src="../static/h-ui.admin/js/H-ui.admin.js"></script> <!--/_footer 作为公共模版分离出去-->

<!--请在下方写此页面业务相关的脚本-->
<script type="text/javascript" src="../lib/My97DatePicker/4.8/WdatePicker.js"></script>
<script type="text/javascript" src="../lib/datatables/1.10.0/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="../lib/laypage/1.2/laypage.js"></script>
<script type="text/javascript" src="../javascript/common/vue.js"></script>
<script type="text/javascript" src="../javascript/common/mutual.js"></script>
<script type="text/javascript" src="../javascript/version/add.js"></script>
</body>
</html>